[Unit]
Description=registry mangement system

[Service]
Environment="PATH=/opt/package/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"
WorkingDirectory=/usr/lib/systemd/system
ExecStart=/opt/rms/rms
Type=simple
SysVStartPriority=99
Restart=on-failure

[Install]
WantedBy=multi-user.target
